<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.denis.mystadium">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logoapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".NavActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchMembreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchTeamActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".updateLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultRechercheMatch"
            android:screenOrientation="portrait"/>
        <activity android:name=".InscriptionFacebookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BeforeMatchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InscriptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ClassementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AfterMatchActivity"
            android:screenOrientation="portrait"/>
      <activity android:name=".AutreMatchActivity" 
                android:screenOrientation="portrait/>
    <activity android:name=".DuringMatchActivity" 
                                android:screeOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <provider android:authorities="com.facebook.app.FacebookContentProvider339137506478935"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
                                   
    </application>

</manifest>
